/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  width: 100%;
  height: 100vh;
  background-color:#9FC9B6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hide{
  display:none;
}

/*SLIDER*/
.slider{
  position: relative;
  width: 80%;
  height: 100%;
}

.slider .items-wrapper{
  width: 100%;
  height: 100%;

}
.slider img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*BUTTON*/
.slider .btn-chevron{
color:#CCCCCC ;
background-color:black;
border-style: none;
width: 25px;
height: 25px;
line-height: 20px;
border-radius: 50%;
text-align: center;
position: absolute;
left:50%;
transform:translateX(-50%);
cursor: pointer;
}

.btn-chevron.prev{
  top:10px;
} 

.btn-chevron.next{
  bottom:10px;
} 

/*HOVER*/
.btn-chevron.prev:hover{
  background-color:#CCCCCC;
  color: black;
}

.btn-chevron.next:hover{
  background-color:#CCCCCC;
  color: black;
}

/*THUMBS*/
.thumbs{
  position: relative;
  width: 20%;
  height:80%;
  margin-left:20px ;
}

.preview{
  width: 100%;
  height: 20%;
  object-fit: cover;
}

.preview img{
  width: 70%;
  height: 100%;
  object-fit: cover;
  border:2px solid black;
}

.thumbs .btn-chevron{
  color:#CCCCCC ;
  background-color:black;
  border-style: none;
  width: 25px;
  height: 25px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right:55%;
  transform:translateX(-50%);
  cursor: pointer;
  }